In [67]:
from hashids import Hashids
import pandas as pd

In [68]:
df = pd.DataFrame()

In [69]:
index = range(1, 2000000000)

In [ ]:
df['nextUserID'] = index
df['day'] = 1
df.head()

In [54]:
def hash_user_id(row):
    nextUserID = row['nextUserID'] 
    day = row['day']
    user_id_hashids = Hashids(salt=str(10 * nextUserID + day) + "user_id", min_length=16)
    hashed_user_id = user_id_hashids.encrypt(nextUserID)
    return hashed_user_id

In [55]:
df['hashed_user_id'] = df.apply(hash_user_id, axis=1)
df.head()

   nextUserID  day    hashed_user_id
0           1    1  lq13ZopK7pbrkJ7X
1           2    1  a3k47g0J60EmWOjD
2           3    1  klzKE7O7vabVm81B
3           4    1  K7JpVY69VlQEAM8b

In [56]:
def hash_day(row):
    nextUserID = row['nextUserID'] 
    day = row['day']
    day_hashids = Hashids(salt=str(10 * nextUserID + day) + "day", min_length=10)
    hashed_day = day_hashids.encrypt(day)
    return hashed_day

In [57]:
df['hashed_day'] = df.apply(hash_day, axis=1)
df.head()

   nextUserID  day    hashed_user_id  hashed_day
0           1    1  lq13ZopK7pbrkJ7X  BKzwNEGg9y
1           2    1  a3k47g0J60EmWOjD  QGngX7ZREN
2           3    1  klzKE7O7vabVm81B  1ENB753m7V
3           4    1  K7JpVY69VlQEAM8b  RA0EvZEYaZ

In [65]:
duplicate_hashed_user_id = df[df.duplicated(['hashed_user_id'])]
print("Number of duplicate hashed_user_id :")
print(duplicate_hashed_user_id.size)

Number of duplicate hashed_user_id :
0

In [66]:
duplicate_hashed_day = df[df.duplicated(['hashed_day'])]
print("Number of duplicate hashed_day :")
print(duplicate_hashed_day.size)

Number of duplicate hashed_day :
0